{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/css/styles-auction.css">

    <main>

      <div class="container">
        <div id="left">
          <h2>Subastas de carros</h2>
          <p>Consiste en el destaque de operarios de limpieza especializados en mobiliario de oficinas. 
            Es una labor indispensable para toda organización, ya que brinda un ambiente limpio, agradable 
            e higiénico en el que puedan desempeñar sus labores de forma consistente y segura. 
            Nos especializamos en trabajos para empresas, hoteles, centros médicos, restaurantes, y otros.  </p>
          <a href="/register" class="personalizado">Ver Más</a >
        </div>
        <div id="right">
          <img src="../static/images/banane-large.jpg" class="center">
        </div>
      </div>

      <div class="container">
        <div id="left">
          <h2>Subastas de frutas</h2>
          <p>La acumulación de suciedad y bacterias en muebles y sillas es algo inevitable, por este motivo
          es necesario una limpieza periódica que elimine no solo la suciedad de la superficie sino también 
          de su interior. Nuestro sistema de limpieza basado en el método de Inyección – Succión, utilizando 
          productos 100% biodegradables nos permite la eliminación y desinfección de sus muebles a nivel 
          externo e interno. </p>
          <a href="/register" class="personalizado">Ver Más</a >
        </div>
        <div id="right">
          <img src="../static/images/banane-large.jpg" class="center">
        </div>
      </div>

      <div class="container">
        <div id="left">
          <h2>Subastas de perros </h2>
          <p>Nuestro método de limpieza crea una barrera microscópica, la cual evita durante 30 días como 
            mínimo, la aparición de bacterias, hongos y enzimas alergénicas, haciendo del colchón una zona 
            segura para toda la familia. Nuestro sistema de limpieza que mediante equipos especiales liberamos
             el colchón de ácaros y suciedad mediante sistema de aspiración. </p>
             <a href="/register" class="personalizado">Ver Más</a >
        </div>
        <div id="right">
          <img src="../static/images/banane-large.jpg" class="center">
        </div>
      </div>

      <div class="container">
        <div id="left">
          <h2>Subastas de mangas</h2>
          <p>Las alfombras y tapizones nos brindan calidez y realzan nuestros hogares, por este motivo 
            es necesario una correcta limpieza y desinfección de las mismas, para que no pierdan su belleza
             y no sean un riesgo para la salud de nuestra familia. Nuestro producto es un shampoo especial y
              desinfectante de alta calidad, 100% biodegradables que nos permite la eliminación de manchas, 
              mal olores, bacterias y resaltando los colores de su alfombra, luciendo como nuevos.</p>
              <a href="/register" class="personalizado">Ver Más</a >
        </div>
        <div id="right">
          <img src="../static/images/banane-large.jpg" class="center">
        </div>
      </div>

      <div class="container">
        <div id="left">
          <h2>Subastas de música </h2>
          <p>CNuestra experiencia en el rubro de lavado y mantenimiento de rollers y estores les garantiza
             un buen servicio, así mismo nos facilita cuidar de manera adecuada la estructura de su preciado
              artículo. Contamos con personal altamente capacitado para el mantenimiento y reparación de 
              estores y rollers.</p>
              <a href="/register" class="personalizado">Ver Más</a >
        </div>
        <div id="right">
          <img src="../static/images/banane-large.jpg" class="center">
        </div>
      </div>

      <div class="container">
        <div id="left">
          <h2>Subastas de equipo deportivo </h2>
          <p>También ofrecemos servicios la limpieza y desinfección profunda de artículos de bebé como 
            car seats, coches, pack and play, peluches, entre otros, haciendo un trabajo de limpieza que 
            no compromete la salud de tu familia.
            Pensando en la limpieza de casa, también recogemos los artículos y los entregamos en 2 días calendario, siempre cumpliendo con los más altos estándares de calidad y pensando en nuestros clientes
             </p>
             <a href="/register" class="personalizado">Ver Más</a >
        </div>
        <div id="right">
          <img src="../static/images/banane-large.jpg" class="center">
        </div>
      </div>

  </main>

{% endblock %}