<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../static/images/logo.png">
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Text:400,500,700&display=swap" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
<!-- Ir Arriba -->

<div class="go-top">
  <span class="fas fa-angle-up"></span>
</div>

  <!--Encabezado de la página web-->

  <header id="header">
      <nav class="menu">
        <div class="logo-box">
          <img src="../static/images/logo.png">
          <span class="btn-menu"><i class="fas fa-bars"></i></span>
        </div>
        <div class="list-container">
          <ul class="lists">
            <li><a href="/" class="activate">Inicio</a></li>
            <li><a href="/we">Nosotros</a></li>
            <li><a href="/auction">Subastas</a>
            <li><a href="/contact">Contáctenos</a></li>
          </ul>
        </div>
      </nav>
     <!-- IMG HEADER -->
     <div class="img-header">
      <div class="welcome">
          <h1>LOS INFILTRADOS</h1>
          <hr>
          <p>Empresa de subastas</p>
          <button id="abajo">Ver Abajo</button>
      </div>
  </div>

  </header>

  
    {% block content %} {% endblock %}

    <!--Pie de página-->
    
    <footer>

      <div class="skew-arriba"></div>

      <div class="container-footer-all">
       
           <div class="container-body">

               <div class="colum1">

                  <div class="logo-footer">
                    <img src="../static/images/logo.png">
                  </div>

                  <div class="redes-sociales">

                    <img src="../static/images/facebook.png">
                    <img src="../static/images/instagram.png">
                    <img src="../static/images/pinterest.png">
                    <img src="../static/images/twitter.png">

                  </div>

               </div>
               
               <div class="colum2">

                  <div class="title-colum2"><h1>¿QUIÉNES SOMOS?</h1></div>

                  <div class="oracion">

                    <p>Los INFILTRADOS es una empresa 100% peruana, dedicada a brindar servicios de
                      subastas por más de 1 día. </p>

                  </div>

               </div> 
            

               <div class="colum3">

                   <h1>CONTÁCTANOS</h1>

                   <div class="row2">
                       <img src="../static/images/smartphone.png">
                       <label>Calle Inca 680 – Surquillo </label>
                   </div>

                   <div class="row2">
                    <img src="../static/images/smartphone.png">
                    <label>(01) 540 6574</label>
                  </div>

                   <div class="row2">
                       <img src="../static/images/smartphone.png">
                        <label>(+51) 902796299</label>
                   </div>

                   <div class="row2">
                    <img src="../static/images/contact.png">
                    <label>info@losinfiltrados.com</label>
                   </div>

               </div>

               <div class="colum4">

                  <h1>MEDIOS DE PAGOS ACEPTADOS</h1>

                  <div class="tarjetas">

                    <img src="../static/images/facebook.png">
                    <img src="../static/images/instagram.png">
                    <img src="../static/images/pinterest.png">
                    <img src="../static/images/twitter.png">

                  </div>

               </div>

           </div>
       
       </div>
       
       <div class="container-footer">
              <div class="footer">
                   <div class="copyright">
                       © 2020 Todos los Derechos Reservados | <a href="">LOSINFILTRADOS</a>
                   </div>

                   <div class="information">
                       <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos y Condiciones</a>
                   </div>
               </div>

           </div>
       
   </footer> 

  <!-- Scripts -->
<script src="https://kit.fontawesome.com/35db202371.js"></script>
<script src="../static/js/aplication.js"></script>


  </body>
</html>