{% extends 'base.html' %}
{% block title %} LOS INFILTRADOS {% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/css/styles.css">
    <!-- Nuestros servicios -->

    <section class="acerca-de">

        <div class="info-container">
  
          <h1>Nuestras Subastas</h1>
          <hr>
  
          <p>Todos las subastas a un solo click de distancia.</p>
        </div>
  
      </section>
  
      <div id="horizontal1">
  
        <div class="izquierda2">
          <img src="../static/images/banane-large.jpg">
          <h3>Subastas de carros </h3>
          <a href="https://chat.whatsapp.com/CkXYLylGY9i9Dy7RBr7yQW" class="personalizado" target="_blank" rel="noopener noreferrer">CONTÁCTENOS</a >
        </div>
        <div class="derecha2">
          <img src="../static/images/banane-large.jpg">
          <h3>Subastas de frutas </h3>
          <a href="https://chat.whatsapp.com/CkXYLylGY9i9Dy7RBr7yQW" class="personalizado" target="_blank" rel="noopener noreferrer">CONTÁCTENOS</a >
        </div>
        <div class="centro">
          <img src="../static/images/banane-large.jpg">
          <h3>Subastas de perros </h3>
          <a href="https://chat.whatsapp.com/CkXYLylGY9i9Dy7RBr7yQW" class="personalizado" target="_blank" rel="noopener noreferrer">CONTÁCTENOS</a >
        </div>
  
      </div>
  
      <div id="horizontal2">
  
        <div class="izquierda2">
          <img src="../static/images/banane-large.jpg">
          <h3>Subastas de mangas </h3>
          <a href="https://chat.whatsapp.com/CkXYLylGY9i9Dy7RBr7yQW" class="personalizado" target="_blank" rel="noopener noreferrer">CONTÁCTENOS</a >
        </div>
        <div class="derecha2">
          <img src="../static/images/banane-large.jpg">
          <h3>Subastas de música </h3>
          <a href="https://chat.whatsapp.com/CkXYLylGY9i9Dy7RBr7yQW" class="personalizado" target="_blank" rel="noopener noreferrer">CONTÁCTENOS</a >
        </div>
        <div class="centro">
          <img src="../static/images/banane-large.jpg">
          <h3>Subastas de equipo deportivo</h3>
          <a href="https://chat.whatsapp.com/CkXYLylGY9i9Dy7RBr7yQW" class="personalizado" target="_blank" rel="noopener noreferrer">CONTÁCTENOS</a >
        </div>
  
      </div>
  
          <!-- Misión y visión-->
  
    <section class="content">
  
      <div class="izquierda1">
  
        <img src="../static/images/FIGURA1.png">
        <h2>MISIÓN</h2>
        <p>Tu dinero con nosostros está asegurado. Subasta lo que quieras en cualquier momento
          y lugar del Perú </p>
  
      </div>
  
      <div class="derecha1">
  
        <img src="../static/images/FIGURA2.png">
        <h2>VISIÓN</h2>
        <p>Ser reconocidos como la empresa líder en subastas a nivel nacional</p>
  
      </div>
  
    </section>
  
      <!--Cobertura en Lima Metropolitana-->
  
      <section class="cobertura">
  
        <div class="titulo">
  
          <h2>Cobertura en Lima Metropolitana</h2>
          <hr>
  
        </div>
        
        <div id="box-cobertura">
          <div id="lista-distrito">
            <ul>
              <li>Barranco</li>
              <li>Chorrillos</li>
              <li>Jesús María</li>
              <li>La Molina</li>
              <li>Lince</li>
              <li>Magdalena del Mar</li>
              <li>Miraflores</li>
              <li>Pueblo Libre</li>
              <li>San Miguel</li>
              <li>San Borja</li>
              <li>San Isidro</li>
              <li>San Juan de Miraflores</li>
              <li>Santiago de Surco</li>
              <li>Surquillo</li>
            </ul>
          </div>
          <div id="imagen-promocional">
            <img src="../static/images/banane-large.jpg">
          </div>
        </div>
  
      </section>
  
      
      </main>
  
{% endblock %}