{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/css/styles.css">
    <style>
        .hidden{
            display: none;
        }
    </style>
    
    <form id="public_product">
        <h1>SUBIDA DE PRODUCTO</h1>
        <label for="name">Nombre del Producto</label>
        <input type="text" id="name" name="name">
        <label for="price">Precio del Producto</label>
        <input type="text" id="price" name="price">
        <label for="features">Descripcion del producto</label>
        <input type="text" id="features" name="features">
        <input type="submit" id="submit" value="Submit">
    </form>

    <div id="error" class="hidden">[FE] Error!!</div>

    <ul id="products">
        {% for d in data %}
            <li>
                {{d.name}} {{d.price}} {{d.features}}
                <button class="delete-button" data-id="{{d.id}}" >&cross;</button>
            </li>
        {% endfor %}
    </ul>

    <script src="../static/js/product.js"></script>

{% endblock %}