{% extends 'base.html' %}
{% block content %}
    <form id="register">
        <h5>REGISTRO</h5>
         <!--registro del usuario -->
        <input class="controles" type="text" id="DNI" name="DNI" placeholder="DNI"/>
        <!-- nombre y apellidos del usuario -->
        <input class="controles" type="text" id="name" name="name" placeholder="usuario"/>
        <!-- correo electrónico -->
        <input class="controles" type="email" id="email" name="email" placeholder="correo electrónico"/>
        <!-- contraseña -->
        <input class="controles" type="password" id="password" name="password" placeholder="contraseña"/>
        <input class="botones" type="submit" id="submit" value="REGISTRARSE" />
    </form>
    <script src="../static/js/users.js"></script>
{% endblock %}