{% extends 'base.html' %}
{%block content %}
<main>
  <link rel="stylesheet" href="../static/css/styles-we.css">
  <section class="we">
    <div class="titulo">
        <h3>Empresa de Subastas - Los Infiltraos</h3>
        <hr>
    </div>
    <div id="contenido">
      <div id="parrafo">
        <p>Les ofrece servicio de limpieza profesional y soluciones integrales 
          con una firme orientación a la satisfacción del cliente. Compuesta por personal altamente
          calificado de distintas especialidades enfocados en brindar un servicio eficiente y de 
          calidad. Estamos innovando siempre para ofrecer los mejores servicios.
        </p>
        <p>Todos los materiales y equipos utilizados en nuestros servicios son de calidad manteniendo así 
          el cuidado del medio ambiente.</p>
      </div>
      <div id="imagen">
        <img src="../static/images/logo.png" class="center">
      </div>
    </div>
  </section>
</main>

{%endblock%}